@import (css) "/comps/user/avatar.wxss";
#mine {
    background: #fff;
    .header {
        background: #3385ff;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        .user-info {
            padding:20rpx 0;
            display: flex;
            flex-direction: row;
            .avatar {
                margin: 0 20rpx;
            }
            .right {
                font-size: 25rpx;
                margin-left: 10rpx;
                .info {
                    line-height: 50rpx;
                    font-size: 35rpx;
                }
                .create_time {
                        
                }
            }
        }
        .editor {
          display: inline-block;
          font-size: 25rpx;
          border: 1px solid #fff;
          padding: 10rpx 15rpx;
          border-radius: 15rpx;
          height: 50rpx;
      }
    }
    .account {
        border-bottom: 3px solid #f5f5f5;
        padding: 20rpx 0;
        .account-inner {
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
           
            .item {
                font-size: 30rpx;
                text-align: right;
                .money {
                    color: #FF5164;
                    font-size: 37rpx;
                    margin: 0 5rpx;
                }
            }
        }
    }
    .menu {
        .menu-group {
            .menu-title {
                background: #f5f5f5;
                font-size: 28rpx;
                padding-left: 15rpx;
                line-height: 50rpx;
            }
            .menu-list {
                .menu-item {
                    line-height: 50rpx;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 15rpx 0;
                    font-size: 32rpx;
                    .iconfont {
                        margin: 0 15rpx;
                    }
                    border-top:1rpx solid #e6e6e6;
                }
            }
        }
    }
}