.alert {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 120;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert.focus {
  display: block;
}
.alert.focus .alert-box {
  margin: 50rpx auto;
}
.alert .alert-box {
  width: 90%;
  background: #fff;
  border-radius: 15rpx;
}
.alert .alert-box .alert-header {
  height: 60rpx;
  border-bottom: 1px solid #f8f8f8;
  text-align: center;
  position: relative;
}
.alert .alert-box .alert-header .alert-title {
  line-height: 60rpx;
  font-size: 30rpx;
  color: #666;
}
.alert .alert-box .alert-header .close {
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 10rpx;
  top: 0rpx;
}
.alert .alert-box .alert-content {
  padding: 20rpx 20rpx 0 20rpx;
}
.alert .alert-box .alert-content textarea {
  box-sizing: border-box;
  padding: 10rpx 20rpx;
  width: 100%;
  background: #f0f0f0;
  font-size: 30rpx;
  height: 170rpx;
}
.alert .alert-box .alert-footer {
  padding: 20rpx;
}
.alert .alert-box .alert-footer .submit {
  background: #3385ff;
  color: #fff;
  font-size: 35rpx;
  line-height: 65rpx;
  text-align: center;
  border-radius: 10rpx;
}
