#login-view .login-header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0  100px;
}
#login-view .login-header .title {
  color: #f98a05;
  font-weight: bold;
}
#login-view .login-main {
  background-image: url('back.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 780px;
  line-height: 580px;
  padding: 0 200px;
  display: flex;
  align-items: center;
}
#login-view .login-main .left {
  background-image: url('left.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 500px;
  height: 580px;
}
#login-view .login-box {
  margin-left: 50px;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
