#baseinfo{
  .avatar{
    padding: 20rpx;
    display: flex;
    justify-content: center;
  }
  .form{
    .form-row{
      label{
        background: #f0f0f0;
        font-size: 30rpx;
        display: block;
        padding-left: 20rpx;
        line-height: 60rpx;
      }
      .form-widget{
        display: block;
        font-size: 30rpx;
        padding:0  20rpx;
        line-height:80rpx;
        height: 80rpx;
      }
    }
  }
  .save-btn{
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
    color: #fff;
    background: #3385ff;
    line-height: 80rpx;
    text-align: center;
    z-index: 10;
  }
}