@import '../../var.less';
page {
    background: #f8f8f8;
}

#home {
    height: 100%;
    position: relative;
    .background {
        z-index: 9;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .top {
            background: @primaryColor;
            height: 200rpx;
        }
    }
    .main {
        z-index: 10;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .top {
            box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08);
            border-radius: 10rpx;
            margin: 50rpx 30rpx 40rpx 30rpx;
            background: #fff;
            overflow: hidden;
            .college {
                display: flex;
                flex-direction: row;
                border: 1px solid #f8f8f8;
                padding: 15rpx;
                .logo {
                    margin: 0 20rpx;
                    width: 150rpx;
                    height: 150rpx;
                }
                .info {
                    .name {
                        line-height: 87rpx;
                        font-size: 35rpx;
                    }
                    .mes {
                        font-size: 25rpx;
                        color: #4D4D4D;
                        text {
                            margin-right: 18rpx;
                        }
                    }
                }
            }
            .bulletin-box {
                padding: 3px 5px;
                display: flex;
                align-items: center;
                .iconfont {
                    margin-right: 5px;
                    font-size: 42rpx;
                }
                .bulletin {
                    height: 70rpx;
                    display: flex;
                    align-items: center;
                    font-size: 26rpx;
                }
            }
        }
    }
}

.menu {
    .menus {
        background: #fff;
        line-height: 70rpx;
        display: flex;
        flex-direction: row;
        font-size: 30rpx;
        color: #898989;
        border-bottom: 1px solid #f5f5f5;
        .nav-item {
            flex: 1;
            text-align: center;
            &.active {
                color: @primaryColor;
                .title {
                    height: 100%;
                    display: inline-block;
                    border-bottom: 3px solid @primaryColor;
                    box-sizing: border-box;
                }
            }
        }
    }
    .sub-menus {
        background: #fff;
        line-height: 70rpx;
        display: flex;
        flex-direction: row;
        font-size: 27rpx;
        color: #898989;
        border-bottom: 1px solid #f5f5f5;
        .sub-nav-item {
            padding: 0 25rpx;
            &.active {
                color: @primaryColor;
                .title {
                    height: 100%;
                    display: inline-block;
                }
            }
        }
    }
}